.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.c-card {
  padding: 20px;
  border-bottom: 4px solid purple;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
}

.card-body {
  height: 70px;
  overflow: hidden;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.c-card:hover {
  background-color: rgba(128, 0, 128, 0.6);
  color: white;
  border-color: transparent;
}

.pin {
  padding: 0 5px;
  font-size: 20px;
}

.edit,
.delete {
  padding: 0 5px;
  font-size: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

.time {
  display: flex;
  justify-content: flex-end;
}

.card-body,
.card-title,
.edit,
.pin,
.delete {
  cursor: pointer;
}
