.btns {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: flex-end;
}

.card {
  padding: 10px;
  border-bottom: 4px solid purple;
  margin: 1em;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  background-color: rgba(128, 0, 128, 0.6);
  color: white;
  border-color: transparent;
}

.pin {
  padding: 0 5px;
  font-size: 20px;
}

.edit,
.delete {
  padding: 0 5px;
  font-size: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 15px;
}

.time {
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}

.card-body,
.card-title,
.edit,
.pin,
.delete {
  cursor: pointer;
}
